
<table id="myTable" class="table table-striped" >
        <thead>
          <tr>
            <th>Name</th>
            <th>DOB</th>
            <th>SEX</th>
             <th>VisitType</th>
            <th>Address</th>
             <th>View Profile</th>


          </tr>
        </thead>
        <tbody>
        {{#doc}}
          <tr>
            <td>{{this.requestBody.name}}</td>
             <td>{{this.requestBody.DOB}}</td>
              <td>{{this.requestBody.Sex}}</td>
              <td>{{this.requestBody.profile.visit_type}}</td>
               <td>{{this.requestBody.address}}</td>
                <td><a href="/viewprofile/{{this._id}}">Yes</a></td>

          </tr>
{{/doc}}
        </tbody>
      </table>
	  </div>

