{{#doc}}
<div class="col-md-offset-5">
<img src="data:image/png;base64,{{this.requestBody.photo}}"  class="img-circle" alt="Cinque Terre" width="204" height="136">
</div>
<br>

<div class="col-md-offset-5">

  <a href="#" class="btn btn-info btn-lg">
           <span class="glyphicon glyphicon-ok"></span> Accept
         </a>

         <a href="#" class="btn btn-danger btn-lg">
                  <span class="glyphicon glyphicon-remove"></span> Decline
                </a>

</div>


<div class="modal-body row">
  <div class="col-md-4">
    <!-- Your first column here -->
    <div class="panel panel-primary">

      <div class="panel-heading" style="background-color: #e97319">Visitor Details</p></div>
      <div class="panel-body">

        <p><b>Aadhar Number :</b>{{this.requestBody.profile.Adhaar}}</p>
      <p><b>Name :</b>{{this.requestBody.profile.name}}</p>
    <p><b>Phone Number :</b>{{this.requestBody.profile.phone}}</p>
<b>DOB :</b>{{this.requestBody.profile.DOB}}</p>
<b>E-mail :</b>{{this.requestBody.profile.email}}</p>
<b>occupation :</b>{{this.requestBody.profile.occupation}}</p>
<b>Present Address :</b>{{this.requestBody.profile.street}},{{this.requestBody.profile.city}},{{this.requestBody.profile.state}},{{this.requestBody.profile.country}},{{this.requestBody.profile.zipcode}}</p>
  </div>
    </div>

  </div>
  <div class="col-md-4">
  <div class="panel panel-primary">
          <div class="panel-heading" style="background-color: #e97319">
              <h3 class="panel-title">Adhaar card</h3>
          </div>
          <div class="panel-body">

           <p><b>Name :</b>{{this.requestBody.name}}</p>
           <p><b>SEX :</b>{{this.requestBody.Sex}}</p>
<p><b>DOB :</b>{{this.requestBody.DOB}}</p>
<p><b>Address :</b>{{this.requestBody.address}}</p>


          </div>
      </div>
</div>


 <div class="col-md-4">
  <div class="panel panel-primary">
          <div class="panel-heading" style="background-color: #e97319">
              <h3 class="panel-title">Visit details</h3>
          </div>
          <div class="panel-body">

           <p><b>Visit Type :</b>{{this.requestBody.profile.visit_type}}</p>

           <p><b>Visit date :</b>{{this.requestBody.profile.stay_duration}}</p>
           <p><b>Visit date :</b>{{this.requestBody.profile.visit_Date}}</p>






          </div>
      </div>


</div>
</div>
{{/doc}}