{{#doc}}


<div class="modal-body row">
  <div class="col-md-4">
    <!-- Your first column here -->
    <div class="panel panel-primary">

      <div class="panel-heading">Supplier Details</p></div>
      <div class="panel-body">
        <p><b>Company Name :</b>  {{this.requestBody.supplier.company_name}} <b>Phone 2   :</b> {{this.requestBody.supplier.phone_2}}</p>
      <p><b>Marks :</b>{{this.requestBody.supplier.marks}}  <b>Pan    :</b> {{this.requestBody.supplier.pan}}</p>
    <p><b>Phone 1:</b>{{this.requestBody.supplier.phone_1}}  <b>GST    :</b> {{this.requestBody.supplier.gst}}</p>

  </div>
    </div>
    </div>



      <div class="col-md-4">
        <!-- Your first column here -->
        <div class="panel panel-primary">

          <div class="panel-heading">Payment Terms</p></div>
          <div class="panel-body">
            <p><b>Payment Type :</b>{{this.requestBody.supplier.payterms}} </p>
          <p><b>Bank Name :</b>{{this.requestBody.supplier.bankname}}</p>
         <p><b>Account No :</b>{{this.requestBody.supplier.account_number}} <b> IFSC </b>: {{this.requestBody.supplier.ifsc}}</p>

      </div>
        </div>
        </div>



  <div class="col-md-4">
    <!-- Your first column here -->
    <div class="panel panel-primary">

      <div class="panel-heading">Shipment Terms & Rate Card</p></div>
      <div class="panel-body">
        <p><b>Shipment Type :</b>{{this.requestBody.supplier.shipment_type}}</p>
      <p><b>Shipment Days :</b>{{this.requestBody.supplier.shipment_terms}}</p>
    <p><b>Rate Card :</b>{{this.requestBody.supplier.rate_card}}</p>

  </div>
    </div>
    </div>





<div class="modal-body row">
  <div class="col-md-4">
    <!-- Your first column here -->
    <div class="panel panel-primary">

      <div class="panel-heading">Supplier capacity for Mud Crab – GL</p></div>
      <div class="panel-body">
        <p><b>Turn Over :</b>{{this.requestBody.supplier.Mud_Crab_GL.Turn_over}}</p>
      <p><b>Trading from :</b>{{this.requestBody.supplier.Mud_Crab_GL.Trading_from}}</p>
    <p><b>Quantity per week :</b>{{this.requestBody.supplier.Mud_Crab_GL.per_week}}</p>

  </div>
    </div>
    </div>



<div class="modal-body row">
  <div class="col-md-4">
    <!-- Your first column here -->
    <div class="panel panel-primary">

      <div class="panel-heading">Supplier capacity for Mud Crab – Waters</p></div>
      <div class="panel-body">
        <p><b>Turn Over :</b>{{this.requestBody.supplier.Mud_Crab_Waters.Turn_over}}</p>
      <p><b>Trading from :</b>{{this.requestBody.supplier.Mud_Crab_Waters.Trading_from}}</p>
    <p><b>Quantity per week :</b>{{this.requestBody.supplier.Mud_Crab_Waters.per_week}}</p>

  </div>
    </div>
    </div>



<div class="modal-body row">
  <div class="col-md-4">
    <!-- Your first column here -->
    <div class="panel panel-primary">

      <div class="panel-heading">Supplier capacity for Red Crab – Live</p></div>
      <div class="panel-body">
        <p><b>Turn Over :</b>{{this.requestBody.supplier.Red_Crab_Live.Turn_over}}</p>
      <p><b>Trading from :</b>{{this.requestBody.supplier.Red_Crab_Live.Trading_from}}</p>
    <p><b>Quantity per week :</b>{{this.requestBody.supplier.Red_Crab_Live.per_week}}</p>

  </div>
    </div>
    </div>


 <div class="col-md-6">
    <!-- Your first column here -->
    <div class="panel panel-primary">

      <div class="panel-heading">Catching Chain</p></div>
      <div class="panel-body">
        <p><b>Shipment Type :</b>{{this.requestBody.supplier.shipment_type}}</p>
      <p><b>Shipment Days :</b>{{this.requestBody.supplier.shipment_terms}}</p>
    <p><b>Rate Card :</b>{{this.requestBody.supplier.rate_card}}</p>

  </div>
    </div>
    </div>

     <div class="col-md-6">
        <!-- Your first column here -->
        <div class="panel panel-primary">

          <div class="panel-heading">Sales chain</p></div>
          <div class="panel-body">
          <p>  <b>Person :</b>{{this.requestBody.supplier.shipment_type}}
          <b>Village :</b>{{this.requestBody.supplier.shipment_terms}}</p>
        <p><b>Rate Card :</b>{{this.requestBody.supplier.rate_card}}</p>

      </div>
        </div>
        </div>
  {{/doc}}